@page  "/Cart/checkout"
@{

}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<h1> @Localizer["Success"] </h1>
<div class="fixed-right">
    <a class="btn btn-outline-dark" href="/home/index" role="button"> @Localizer["Home"] </a>
</div>