@page  "/Cart/checkout"
@{

}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<br /><br /><br />
<h1> @Localizer["Success"] </h1>
<div class="fixed-right">
    <a class="btn btn-primary" href="/home/index" role="button"> @Localizer["Home"] </a>
</div>