@page "/Account/LogOut"
@model LogoutModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Logout"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@Localizer["LoggedOut"]</p>
</header>