:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.carousel-item {
  height: 70vh;
  min-height: 300px;
  background: black no-repeat center top scroll;

  background-size: cover;
}
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #555555;
  background: #ffffff;
  text-align: center;
  opacity: 0.85;
}

.card-image {
  width: 100%;
  height: 250px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-img-top {
  opacity: 0.3;
}

.card:hover .card-body {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.card-text-small {
  font-size: 15px;
  margin-bottom: 10px;

}

.text {
  color: grey;
  font-size: 25px;
  padding: 15px 25px;
  opacity: 0.9;
  font-weight: bold;
}