@page "/home/search"

@model CMS.Web.Areas.Identity.Pages.Search.SearchModel
@{

}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container rpw p-0 m-0">
    <h2 class="text-info">@Localizer["FindEvent"]</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="placeInput">@Localizer["Place"]</label>
                <input type="search" class="form-control" id="placeInput" placeholder="Place">
            </div>
            <div class="form-group col-md-3">
                <label for="dateInput">@Localizer["Date"]</label>
                <input type="date" class="form-control" id="dateInput" placeholder="Date">
            </div>
            <div class="form-group col-md-3">
                <label for="categoryInput">Category</label>
                <select id="categoryInput" class="form-control">
                    <option selected>Choose...</option>
                    <option>Concerts</option>
                    <option>Festivals</option>
                </select>
            </div>
        </div>
        <button type="submit" id="searchButton" class="btn btn-primary">Search</button>
    </form>
</div>